@import url(style.css);

/*
--text-black-color: #212121;
--background-orange-color: #e23d3d;
*/

.about {
  width: 100%;
  height: 650px;
  color: var(--text-black-color);
  margin-top: 50px;
  margin-bottom: 50px;
}

.about_us {
  margin: 0 auto;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
}

.infoblock{
    width: 50%;
    height: 600px;
    background-image: url(img/items/about.avif);
    background-position: center;
    background-size: cover;
    border-right: 4px solid #fff;
    animation: info 0.5s linear;
}

@keyframes info {
    0% {
        opacity: 0;
      }
    
    20% {
        opacity: 0.2;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.6;
    }
    
    80% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blocks {
    0% {
        opacity: 0;
      }
    
    20% {
        opacity: 0.2;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.6;
    }
    
    80% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}


.blocks{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 50%;
    height: 600px;
}

.block{
    width: 50%;
    height: 300px;
    cursor: pointer;
    background-color: var(--text-black-color);
    transition: .2s all ease-in-out;    
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    animation: blocks 0.5s linear;
}

.block i{
    margin-bottom: 10px;
}

.block h3{
    width: 60%;
}

.block h4{
    width: 80%;
}

.block:nth-child(1){
    border-right: 2px solid #fff;
    border-bottom:2px solid #fff ;
}

.block:nth-child(2){
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.block:nth-child(3){
    border-right: 2px solid #fff;
    border-top: 4px solid #fff;
}

.block:nth-child(4){
    border-left: 2px solid #fff;
    border-top:4px solid #fff;
}

.block:hover{
    background-color: var(--background-orange-color);
}