@import url(style.css);

.item_page{
    height: 700px;
}

.product_details{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    color: var(--background-orange-color);
}

.details{
    margin-left: 80px;
    margin-top: 40px;
}

.details h3{
    font-weight: normal;
}

#car-desc{
    margin-top: 20px;
    line-height: 30px;
}

#car-desc div{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid;
    margin-top: 20px;
    height: 50px;
    width: 300px;
    color: var(--text-black-color);
    border-color: var(--background-orange-color);
}

#car-desc div i{
    background-color: var(--background-orange-color);
    color: #fff;
    height: 100%;
    width: 50px;
    padding-top: 12px;
    padding-left: 12px;
}

#car-desc div h3{
    margin-left: 20px;
}


.price_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    background-color: var(--background-orange-color);
    border-radius: 7px;
    margin-top: 40px;
    transition: 0.2s all ease-in;
}

.price_button h3{
    color: #fff;
    font-size: 24xp;
}

.price_button:hover{
    transform: translateY(-3px);
    opacity: 0.9;
}