* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  display:table;
  width: 100%;
}

:root {
  --text-black-color: #212121;
  --background-orange-color: #e23d3d;
}

a {
  text-decoration: none;
  color: var(--text-black-color);
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
}

h3,
a {
  font-size: 18px;
  font-weight: 600;
}

h4 {
  font-size: 16px;
}

.container {
  width: 1240px;
  margin: 0 auto;
  overflow: hidden;
}

nav .container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 30px;
  user-select: none;
  color: var(--text-black-color);
}

.links {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.links a {
  color: var(--text-black-color);
  transition: 0.2s all ease-in-out;
}

.links a:hover {
  text-decoration: underline;
  text-decoration-color: var(--background-orange-color);
}

header {
  height: 770px;
  background-image: url(img/banner.png);
  background-size: cover;
  background-position: center;
}

header .text h1 {
  width: 505px;
  padding-top: 130px;
}

header .text h3 {
  width: 715px;
  font-weight: 400;
  padding: 30px 0px;
}

header .text a {
  width: 154px;
  height: 48px;
  border-radius: 7px;
  background-color: var(--background-orange-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: 0.2s all ease-in;
}

header .text a:hover {
  transform: translateY(-3px);
  opacity: 0.9;
}

.feedback {
  width: 1030px;
  height: 108px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  margin-top: 105px;
  border-radius: 14px;
  padding: 0px 100px;
}

.feedback i {
  color: #000;
}

.feedback input {
  width: 300px;
  height: 40px;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--text-black-color);
  border-right: 1px solid var(--text-black-color);
  margin-right: 100px;
  border-radius: 0 0 10px 0;
  padding: 5px 10px;
}

.feedback a {
  width: 200px;
  height: 48px;
  border-radius: 7px;
  background-color: var(--background-orange-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: 0.2s all ease-in;
}

.feedback a:hover {
  transform: translateY(-3px);
  opacity: 0.9;
}

.instruction {
  height: 800px;
}

.instruction .container .text {
  color: var(--text-black-color);
  width: 884px;
  margin: 0 auto;
}

.instruction .container .text h1 {
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 884px;
  padding-top: 10px;
}

.instruction .container .text h3 {
  text-align: center;
  width: inherit;
  color: #858181;
  font-weight: 400;
  line-height: normal;
  padding-top: 200px;
}

.icon {
  width: 80px;
  height: 80px;
  border-radius: 7px;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s all ease-in;
}

.icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.icon i {
  color: var(--background-orange-color);
}

.step {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--text-black-color);
  width: 313px;
  text-align: center;
}

.steps {
  margin-top: 85px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.step h2 {
  margin-top: 20px;
}

.step h3 {
  margin-top: 10px;
  color: #858181;
  font-weight: 400;
}

.service {
  position: relative;
  height: 655px;
  background-image: url("img/service.jpg");
  background-size: cover;
  background-position: center;
}

.service::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.service .container {
  position: relative;
  z-index: 2;
  padding: 20px;
}

.service_text {
  width: 602px;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
}

.service_text h3,
h1 {
  font-weight: 600;
}

.service_details {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.options {
  height: 184px;
  width: 550px;
  margin-top: 100px;
  border-right: 2px solid #fff;
}

.option {
  display: flex;
  flex-direction: row;
  color: #fff;
  align-items: center;
  margin-bottom: 20px;
  
}

.option div {
  border-radius: 50px;
  border: 2px dashed #fff;
  font-size: 24px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  transition: 0.2s all ease-in;
}

.option.active div,
.option.active h2 {
  border-color: var(--background-orange-color);
  color: var(--background-orange-color);
}

.option_detail {
  margin-left: 100px;
  margin-top: 100px;
}

.option_detail h2 {
  font-weight: 600;
}

.option_detail h3 {
  font-weight: 400;
}

.car {
  background-image: url("img/cargif.gif");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 50px;
  position: absolute;
  top: 62px;
  left: -100px;
  animation: drive 20s linear infinite;
  transform-origin: center;
}

@keyframes drive {
  0% {
    left: -100px;
    transform: scaleX(1);
  }

  50% {
    left: 100%;
    transform: scaleX(1);
  }

  51% {
    transform: scaleX(-1);
  }

  100% {
    left: -100px;
    transform: scaleX(-1);
  }
}

.popular {
  height: 1000px;
  padding-bottom: 300px;
  border-bottom: 1px solid #858181;
}

.popular_text {
  margin: 0 auto;
  text-align: center;
  color: #000;
  margin-top: 200px;
  width: 639px;
}

.popular_text h3 {
  font-weight: 500;
}

.brands {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 50px;
}

.brands a {
  width: 120px;
  height: 50px;
  border: 1px solid var(--text-black-color);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brands .active {
  background-color: var(--background-orange-color);
  color: #fff;
  border: none;
}

.cars {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 65px;
}

.item {
  width: 295px;
  height: 388px;
  border-radius: 14px;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  padding: 15px;
  flex-direction: column;
  color: var(--text-black-color);
}

.item h2 {
  font-weight: 600;
  margin-top: 15px;
}

.price {
  width: calc(100%-30px);
  display: flex;
  flex-direction: row;
  padding-bottom: 15px;
  border-bottom: 1px solid #dfdfdf;
  margin-top: 15px;
}

.price h3:nth-child(1) {
  color: var(--Red, #e23d3d);
  font-weight: 500;
  margin-right: 15px;
}

.price span {
  color: #dfdfdf;
  margin-right: 15px;
  font-size: 20px;
  font-weight: 275;
}

.price h3:nth-child(3) {
  color: #858181;
  font-weight: 500;
}

.info {
  display: flex;
  justify-content: space-between;
}

.info div {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  color: #858181;
  align-items: center;
}

.info div i {
  margin-right: 5px;
}

.item a {
  width: 265px;
  height: 48px;
  background-color: var(--background-orange-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  color: #fff;
  margin-top: 15px;
  transition: 0.2s all ease-in-out;
}

.item a:hover {
  transform: translateY(-2px);
}

.experience {
  height: 1450px;
}

.exp_text {
  margin: 0 auto;
  width: 630px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 200px;
}

.exp_text h1 {
  font-weight: 600;
  text-align: center;
  width: 622px;
  color: var(--text-black-color);
}

.exp_text h3 {
  color: #858181;
  text-align: center;
  width: 533px;
  font-weight: 400;
}

.car_exp {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.exp_1 .exp_icon {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.exp_2 .exp_icon,
.exp_3 .exp_icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left_exp .exp_icon div {
  width: 80px;
  height: 80px;
  border-radius: 7px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
  margin-right: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s all ease-in;
  margin-left: 81px;
}

.exp_icon div:hover {
  transform: scale(1.1);
}

.exp_icon div i {
  color: var(--background-orange-color);
}

.left_exp {
  color: var(--text-black-color);
  margin-top: 90px;
}

.left_exp h2 {
  font-weight: 600;
  margin-top: 30px;
  width: 185px;
  text-align: center;
  margin-left: 22px;
}

.right_exp .exp_icon img {
  transform: scaleX(-1);
}

.right_block {
  padding-right: 20px;
}

.left_block {
  padding-left: 20px;
}

.right_exp {
  color: var(--text-black-color);
  margin-top: 90px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.right_exp h2 {
  font-weight: 600;
  margin-top: 30px;
  width: 185px;
  text-align: center;
}

.right_exp .exp_icon {
  text-align: end;
  margin-right: 30px;
}

.right_exp .exp_icon div {
  width: 80px;
  height: 80px;
  border-radius: 7px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
  margin-right: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s all ease-in;
  margin-left: 21px;
}

.about_devs {
  height: 800px;
  color: var(--text-black-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #d4d4d8;
  border-bottom: 1px solid #d4d4d8;
}

.about_devs .container h1 {
  width: 830px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.devs {
  margin: 0 auto;
  width: 1012px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.devcard {
  margin: 0 auto;
  width: 210px;
  height: 450px;
  text-align: center;
}


.devcard img {
  filter: grayscale(100%);
  width: 176px;
  height: 176px;
  border-radius: 50%;
}

.devcard h2 {
  margin-top: 28px;
  color: var(--text-black-color);
}

.devcard h3 {
  margin-top: 18px;
  color: #858181;
}

.contact_form {
  height: 930px;
  margin: 0 auto;
  color: var(--text-black-color);
  display: flex;
}

label {
  font-weight: 600;
  font-size: 16px;
  color: var(--text-black-color);
}

.contact_form h1 {
  width: 400px;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 55px;
}

.mainform {
  width: 720px;
  margin: 0 auto;
}

.mainform a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 155px;
  height: 48px;
  background-color: var(--background-orange-color);
  border-radius: 7px;
  color: #fff;
  transition: 0.2s all ease-in;
  margin: 0 auto;
}

.mainform a:hover {
  transform: translateY(-3px);
  opacity: 0.9;
}

.nextform {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.form {
  width: 100%;
  height: 81px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.form-control {
  width: 100%;
  color: #4f4f4f;
  height: 53px;
  padding-left: 25px;
  border-radius: 10px;
  margin-top: 12px;
  overflow: hidden;
}

.form-control2 {
  width: 340px;
  color: #4f4f4f;
  height: 55px;
  padding-left: 25px;
  border-radius: 10px;
  margin-top: 12px;
}

.formnew {
  width: 100%;
  height: 81px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 40px;
}

.formess {
  margin-top: 20px;
}

.formess textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  padding-top: 10px;
  outline: none;
  border: 2px solid var(--text-black-color);
}

.form-controlmess {
  height: 94px;
  width: 100%;
  color: #4f4f4f;
  padding-left: 25px;
  padding-top: 12px;
  border: 1.6px solid #4f4f4f;
  border-radius: 10px;
  margin-top: 12px;
}

.form-control::placeholder {
  font-size: 14px;
  font-weight: 500;
  opacity: 0.6;
  font-style: normal;
  font-family: "Poppins", sans-serif;
}

footer {
  height: 200px;
}

.footer_nav {
  width: inherit;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.social_media a {
  color: var(--text-black-color);
  margin-left: 20px;
}

.social_media i{
  transition: 0.2s all ease-in-out;
}

.social_media i:hover{
  transform: scale(1.2);
  color: var(--background-orange-color);
}

.copyright {
  height: 100px;
  border-top: 1px solid #d4d4d8;
}

.copyright .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #858181;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: inherit;
}

.copyright .container div a {
  color: #858181;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-left: 20px;
  transition: 0.2s all ease-in;
  opacity:0.5;
}

.copyright .container div a:hover{
  text-decoration: underline;
  color: #858181;
  opacity:1;
}
.burger{
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  position: absolute;
  z-index: 2;
  color: #fff;
  z-index: 1;
}

.active_bar{
  display: none;
  color: #fff;
}

.burger_btn{
  color: #ffffff;
  font-size: 40px;
  cursor: pointer;
  display: none;
  z-index: 999;
}




@media screen and (max-width: 1024px) {

}


@media screen and (max-width: 768px) {
  h1 {
    font-size: 25px;
  }
  
  h2 {
    font-size: 18px;
  }
  
  h3,
  a {
    font-size: 15px;
    font-weight: 600;
  }
  
  h4 {
    font-size: 16px;
  }
  body{
    position: relative;
  }
  .container{
    width: 500px;
  }

  .active{
    display: block;
  }

  .burger{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left: 0;
  }

  .burger_links{
    color: #fff;
    z-index: 999;
    margin: 0 auto;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .burger_links a{
    color: #fff;
    margin-top: 10%;
    font-size: 40px;
  }


  .links{
    display: none;
  }
  .burger_btn{
    display: block;
    color: rgb(192, 27, 27);
  }

  .steps{
    transform: scale(0.5);
    margin: 0 auto;
    margin-right: 290px;
  }
  header .text{ 
    width: 100%;
  }
  header .text h3{
    width: 490px;
  }
  .feedback{
    display: none;
  }
  .instruction {
    margin: 0 auto;
    display: flex;
    height: 100%;
  }
  .instruction .container .text h1{
    width: 490px;
  }
  .instruction .container .text h3{
    width: 490px;
  }
  .instruction .container .step h3{
    width:98px;
  }
  .service .service_text {
    width:490px
  }
  .service_details .options{
    height: 60%;
  }
  .popular .container .popular_text{
    width: 490px;
  }
  .brands {
    height: 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-around;
  }
  .popular{
    height: 1400px;
  }
  .cars{
    width: 500px;
    height: 700px;
    display: flex;
    align-content: space-around;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .item{
    width:230px ;
    height:300px;
  }
  .item img{
    width: 200px !important;
    height: 100px !important;
  }
  .item h3{
    font-size: 15px;
  }
  .item .info h4{
    font-size: 8px;
  }
  .item a{
    width: 150px;
    margin-left: 25px;
  }
  .experience{
    height: 900px;
  }
  .experience .container .exp_text{
    width: 490px;
  }
  .experience .container .exp_text h1{
    width: 450px;
  }
  .experience .container .exp_text h3{
    width: 250px;
  }
  .experience .car_exp{
    height: 800px;
  }
  .experience .car_exp .maincar{
    display: none;
  }
  .experience .car_exp .arrow{
    display: none;
  }
  .experience .car_exp h2{
    font-size: 15px;
  }
  .experience .car_exp i{
    transform: scale(0.8);
  }
  .experience .car_exp div{
    width: 30px;
    height: 30px;
  }
  .experience .left_exp:nth-child(n+1){
    flex-direction: column;
    display: flex;
    align-items: baseline;
  }
  .experience .right_block{
    margin-right: 100px;
  }
  .experience .right_exp:nth-child(n+1){
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .about_devs{
    height: 1200px;
  }
  .about_devs h1{
    display: flex;
    justify-content: flex-end;
    width: 490px !important;
  }
  .about_devs .devs{
    width: 100%;
    flex-direction: column;
  }
  .mainform{
    flex-direction: column;
    display: flex;
    align-items: flex-start;
  }
  .nextform{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }
  .formess {
    margin-top: 120px;
  }
  .contact_form h1{
    width: 490px;
    text-align: center;
  }
  .form-control{
    width: 500px;
  }
  .contact_form a{
    margin-right: 380px;
  }

}
@media screen and (max-width: 480px) {

}